{{$var := .Get 0}}
{{$summary := .Get 1 }}

{{ with index .Site.Data.chapelcon25 $var }}

<tr>

  <td valign="top"> 
    <div class="session-time">
      {{ .start }} - {{ .end }} 
    </div>
  </td>
  <td>  
    
    <!-- Title line -->
    <div class="session-title">
    {{ .title }} 
    {{ if or (isset . "video") (isset . "slides") (isset . "extraLink")}}
      [
      {{ if isset . "video" }} <a href="{{ .video }}">Video</a> {{ end }}
      {{ if and (isset . "video") (isset . "slides") }} | {{ end }}
      {{ if isset . "slides" }} <a href="{{ .slides }}">Slides</a> {{ end }}
      {{ if and (or (isset . "video") (isset . "slides")) (isset . "extraLink") }} | {{ end }}
      {{ if isset . "extraLink" }} <a href="{{ .extraLink }}"> {{ .extraLinkText }} </a> {{ end }}
      ]
    {{ end }}
    </div>
    

    <!-- Author line -->
    <div class="session-authors">
    <em>{{ .authors }}</em>
    </div>

    <!-- Description line -->
     <div class="session-description">
    {{ .description }}
    </div>
  </td>
</tr>

{{ else }}
  {{ errorf "No artifact found with slug '%s' when trying to generate listing, referenced at: %p" $var .Position }}
{{ end }}
